<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="exercise">
        <p> Vue is pretty cool - {{ name }}  {{ age }} </p>
        <p v-once> {{age}} * 3 </p>
        <p> random number between 0 and 1 
            <br /> 
            <button @click="RandomNumber" style="width: 10%; height: 25%; margin-top: 25px;"> click me biatch</button>
             <br /> <p styles="margin-top: 10px;"> {{ chooseNumber }} </p> 
        </p> 
        <br />
        <img v-html="showImage" src="" alt="">
            <br />
        <input type="text">

    </div>
    <script src="/vue.js"></script>
</body>
</html>