<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<link rel="stylesheet" href="index.css">
<div id="app">
    <div class="demo" 
    @click="attachRed = !attachRed" 
    :class="divClasses"></div>
    <div class="demo" :class="[color, {red: attachRed}]"></div>
    <div class="demo"></div> <hr>
    <input type="text" v-model="color">
    <br><br><br>
    <div class="demo" :style="{backgroundColor: color}"></div>
    <div class="demo" :style="myStyle"></div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div> <hr>
    <input type="text" v-model="color">
    <input type="text" v-model="width">
</div>

<script src="/vue.js"></script>