<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <h1>{{ title }}</h1>
  <button @click="title = 'changed'"> update </button>
  <button @click="destroy"> destroy </button>
</div>


<script src="/app.js"></script>
