<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <a v-bind:href="link"> kesini aja </a>
            <p> {{ sayHello() }} </p>
        <h1 v-once> {{ title }} </h1>
             <p v-html="finishedLink"> {{ finishedLink }} </p> <br />

        <button v-on:click="Increase(2, $event)"> Click Me </button>
             <p> {{ counter }} </p>
             <p v-on:mousemove="updateCoordinates"> Coordinates: {{ x }} / {{ y }} </p>
             <span v-on:mousemove.stop="dummy">DEAD SPOT</span> <br />
             <input type="text" v-on:keyup.enter.space="alertMe">

        <input type="text" v-model="name"> 
        <br /> <p> {{ name }} </p>
        <br />
        <button v-on:click="counter++"> Increase </button>
        <button v-on:click="counter--"> Decrease </button>
        <button v-on:click="SecondCounter++"> Increase Second </button>
        <p> Counter: {{counter}} | {{SecondCounter}}</p>
        <p>Result: {{result()}} | {{output}}</p>
    </div>
    <script src="/vue.js"></script>
</body>
</html>