<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<div id="app">
    <p v-if="show"> you can see me <span>Hello there</span> </p>
    <p v-else> do you see me right now </p>
    <template v-if="show">
        <h1> heading </h1>
        <p> inside a template </p>
    </template>
    <button @click="show = !show"> switch </button>

    <hr>

     <!-- Rendering list -->
   <!-- <ul> --> 
   <!--     <li v-for="(ingredient, i) in ingredients"> {{ ingredient }} ({{ i }})</li> --> 
   <!-- </ul> --> 
   <!-- </div> --> 

   <!-- Alternate way render list without ul li -->
    <!-- <template v-for="(ingredient, index) in ingredients"> -->        
    <!--  <h1> {{ ingredient }} </h1> -->        
    <!--  <p> {{ index }} </p> -->        
    <!-- </template> -->   
    
    <ul>
        <li v-for="(ingredient, i) in ingredients"> {{ ingredient }} ({{ i }}) 

        </li>
    </ul>

    <hr>

    <!-- looping through objects-->
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{ key }}  :  {{ value }} ({{ index }}) </div>
        </li>
    </ul>

    <hr>

    <!-- looping an number-->
    <span v-for="n in 10"> {{ n }} </span>

    <hr>

    <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient"> {{ ingredient }} ({{ i }}) 
        </li>
        <button @click="ingredients.push('spices')"> add new </button>
    </ul>

<script src="/vue.js"> </script>